body {
	margin: auto;
}

.block {
	float:left;
	width:20%;
	height:100%;
	font-family: Lato, bold;
	text-align: center;
	font-size: 70px;
	color:white;
}
span {
	position: relative;
	top:44%;
}

#b1 {
	background-color: #244F75;
}

#b2 {
	background-color: #60BFBF;
}

#b3 {
	background-color: #8C4B7E
}
#b4 {
	background-color: #F8BB44
}
#b5 {
	background-color: #F24B4B
}

.strips ::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
          transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

